@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

body {
    font-family: 'Lora', serif;
    background-image: url("https://images03.nicepage.com/c461c07a441a5d220e8feb1a/bf59b34654f955da8136c563/Untitled2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

p {
    line-height: 1.5;
    font-size: 120%;
}

img {
    max-width: 500px;
    max-height: 500px;
}

body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.triangle-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 400px solid #ff921f;
    border-left: 400px solid transparent;
    z-index: -1;
}

.navbar {
    z-index: 1;
}

.main-title {
    font-size: 125px;
    font-weight: 700;
    color: #fff;
    padding: 50px;
}

.card-header {
    background-color: #3490dc;
    color: #fff;
    padding: 0.50rem 1.25rem;
}

.product-title {
    font-weight: 600;
    color: #1b68bf;
}

.gj-datepicker-bootstrap [role=right-icon] button {
    height: 56px;
    background-color: #fff;

}

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
    top: 16px;
}

.gj-datepicker-bootstrap [role=right-icon] button:hover {
    height: 56px;
    background-color: #3490dc;
    color: #fff;
    border-color: #3490dc;
}

#datepicker.search {
    padding: 27px;
    font-size: 18px;
}

.table-sortable th.sortable {
    cursor: pointer;
}

.hidden {
    display: none;
}

.btn.search {
    padding: 16px;
}

.row.main {
    margin-left: 0;
    margin-right: 0;
}

.search-checkbox {
    font-size: 16px;
}

.checkbox {
    margin-left: 10px;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff;
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.menu:hover,
.navbar-light .navbar-nav .nav-link.menu:focus {
    color: #fff;
    background-color: #3490dc;
    border-radius: 5px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #fff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.hover-blue {
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.dropdown-item:hover {
    background-color: #3490dc;
    color: #fff;
}

.hover-blue:hover {
    color: #fff !important;
    background-color: #3490dc;
}

.hover-animate {
    transition: transform 0.5s;
}

.hover-animate:hover {
    transform: translateY(-10px);
}

.hover-zoom {
    transition: background-color 0.3s;
}

.hover-zoom:hover {
    background-color: #efefef;
    transform: scale(1.01);
}

.navbar-inner {
    background: transparent;
}

.show-sm {
    width: 50%;
}

.show-lg {
    width: 100%;
}

@media only screen and (max-width: 1100px) {
    .main-title {
        font-size: 75px;
        padding: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 40px;
        padding: 30px;
    }

    #datepicker.search {
        padding: 10px;
        font-size: 12px;
    }

    .btn.search {
        padding: 4px;
    }

    .white-sm {
        background-color: #fff;
    }

    .navbar-light .navbar-nav .nav-link{
        color: #000;
    }

    .navbar-light .navbar-brand{
        color: #000;
    }

    .triangle-right {
        display: none;
    }
}


@media only screen and (max-width: 567px) {
    .main-title {
        padding: 20px;
    }

    #datepicker.search {
        padding: 20px;
        font-size: 12px;
    }

    .btn.search {
        padding: 10px;
    }

    .search-checkbox {
        font-size: 12px;
    }

    .mobile-hide {
        display: none;
    }

    .table {
        font-size: 12px;
    }

}


@media only screen and (max-width: 460px) {
    .main-title {
        font-size: 45px;
        padding: 10px;
    }

    #datepicker.search {
        padding: 20px;
        font-size: 12px;
    }

    .show-sm {
        width: 75%;

    }
}

