@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("https://cdn.primoplc.co.uk/images/trades-insurance/uk-bouncy-castle-insurance-cover.jpg");
}

p {
    line-height: 1.5;
    font-size: 120%;
}

img {
    max-width: 500px;
}

body::after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: -1;
    cursor: pointer;
}

.main-title {
    font-size: 125px;
    font-weight: 700;
    color: #fff;
    padding: 50px;
}

.card-header {
    background-color: #3490dc;
    color: white;
}

.gj-datepicker-bootstrap [role=right-icon] button {
    height: 56px;
    background-color: #fff;

}

.gj-datepicker-bootstrap [role=right-icon] button:hover {
    height: 56px;
    background-color: #3490dc;
    color: #fff;
    border-color: #3490dc;
}

#datepicker {
    padding: 27px;
    font-size: 18px;
}

.table-sortable th {
    cursor: pointer;
}

.hidden {
    display: none;
}
